{% extends 'base_generic.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div style="container h-100">
  
    <h1 class="text-center">Password reset complete! 💯</h1>
    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 text-center">
                <p>Your new password has been set.</p>
                <p> You can log in now on the <a href="{% url 'login_main' %}">log in page</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}