{% extends 'base_generic.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <div style="container h-100">
  
    <h1 class="text-center">Forgot your password?</h1>
    <div class="row">
      <div class="col">
        <div class="mx-auto w-50 p-3 text-center">
          <p>Enter your email address below, and we'll email you a password reset link 😉.</p>

          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send reset link">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}