<!-- register_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Confirmation</title>
</head>
<body>
  <h1>Welcome to EasyStore</h1>
  <p>Please click on the following link to confirm your email and sign up to our page.</p>
  <p><a href="{{confirm_url}}">{{ confirm_url }}</a></p>
  <br>
  <p>With &#128150;,</p>
  <p>EasyStore</p>
</body>
</html>